<h2>  Driver <%=@driver.name %> </h2>

Car :    <%= @driver.car %><br>
Rating:  <%= @driver.rating %><br><br>


<%= link_to "Edit Driver" , edit_driver_path(@driver) %><br><br>
<%= button_to "Delete Driver" , driver_path(@driver) , :method => :delete , data: {:confirm => "are you sure"} %><br>
<%= link_to "Home Page" , drivers_path %> 